build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: netlify
  content:
    - key: REACT_APP_BALLOT_ENDPOINT
      value: https://zbio.roost.io/proxy/NTQuMjQxLjExMS4xODU6MzAwNDAK
      proxyPort: false
test:
  - name: service-test-suite
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Aishwarya Rane
lastUpdatedOn: 2023-01-17T07:12:30.340Z
